/*CSS do projeto Cakios-book-list*/
h1{
	text-align: center;
	background-color: blue;
	margin: -10px -10px -10px -10px;
}
#search{
	text-align: left;
}
main{
	float: left;
}
nav{
	float: right;
}
/*CSS do aviso de poucos caracteres na pesquisa*/
.warning_class{
	font-size: 15px;
}
/*CSS dos resultados da pesquisa na vertical*/
.class_div{
	clear: left;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	padding-right: 100px;
	border-bottom: 1px solid gray;
}
.class_author{
	color: black;
	text-decoration: none;
	background-color: rgb(26, 180, 232);
	border: 1px solid rgb(26, 180, 232);
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}
.class_title{
	color: black;
	text-decoration: none;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 100px;
	padding-left: 5px;
	background-color: rgb(26, 180, 232);
	border: 1px solid rgb(26, 180, 232);
	border-radius: 10px;
	float: left;
}
.class_img{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	float: left;
	clear: left;
	width: 50px;
}