h1{
	text-align: center;
	background-color: blue;
	margin: -10px -10px -10px -10px;
}
#search{
	text-align: left;
}
main{
	float: left;
}
nav{
	float: right;
}
#filter{
	font-size: 30px;
	margin-right: 300px;
}
.class_div{
	clear: left;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
	padding-right: 100px;
	border-bottom: 1px solid gray;
}
.class_title{
	font-size: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 100px;
	float: left;
}
.class_img{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 10px;
	float: left;
	width: 50px;
}